.DS_Store
.env
.npmrc
.tags*
.vs/
.vscode/
*.log
*.pyc
*.sln
*.swp
*.VC.db
*.VC.VC.opendb
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.xcodeproj
node_modules/
/.idea/
dist/github/
dist/mac/
dist/*.zip
dist/*.yml